.sidebar {
  width: 100%;
  background: #222323;
  color: rgb(244, 234, 234);
  padding: 30px;
  height: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 12px 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #1ec6e0;
}
.sidebar ul li a {
  display: block;
  color: rgb(240, 240, 244);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
